[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pandas = "*"
numpy = "*"
uvicorn = "*"
hypercorn = "*"
lightgbm = "*"
requests = "*"
pyyaml = "*"
scikit-learn = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.10"
